<h1>New Genre</h1>

<%= render "layouts/errors", :object => @genre %>

<%= form_for @genre do |f| %>
  <div class="form-group">
    <%= f.label :name%>
    <%= f.text_field :name, class: "form-control"%>
  </div>
  <%= f.submit class: "btn btn-primary"%>
<% end %>

<br>

<%= link_to "Home", genres_path, class: "btn btn-primary" %>
