<h1>Add a New Artist to <%= @genre.name %></h1>

<%= link_to "Back to #{@genre.name}", genre_path(@genre), class: "btn btn-primary" %>

<br>
<br>

<%= render "layouts/errors", :object => @artist %>

<%= form_for [@genre, @artist] do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
